[submodule "/home/rparker/.dotfiles/tmux/plugins/tpm"]
	path = /home/rparker/.dotfiles/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/home/rparker/.dotfiles/vim/vim/autoload/vim-plug"]
	path = /home/rparker/.dotfiles/vim/vim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug
